<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>社員一覧</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <h1>社員一覧</h1>
  
  <p th:if="${message}" th:text="${message}" class="message"></p>
  
  <form th:action="@{/employees}" method="get">
	
	社員名:
	<input type="text" name="empName" th:value="${empName}">
	
	部署:
	<input type="text" name="department" th:value="${department}">
	
	<button type="submit">検索</button>
	<a th:href="@{/employees}">クリア</a>
  </form>
  
  <br>
  
  <a th:href="@{/employees/new}">新規登録</a>
  <br><br>
  
  <table border="1">
    <tr>
      <th>
		<a th:href="@{/employees(empName=${empName}, department=${department}, page=1, sort='empId')}">社員ID</a>
	  </th>
      <th>
		<a th:href="@{/employees(empName=${empName}, department=${department}, page=1, sort='empName')}">社員名</a>
	  </th>
      <th>
		<a th:href="@{/employees(empName=${empName}, department=${department}, page=1, sort='department')}">部署</a>
	  </th>
	  <th>操作</th>
    </tr>
    <tr th:each="emp : ${employees}">
      <td th:text="${emp.empId}"></td>
      <td th:text="${emp.empName}"></td>
      <td th:text="${emp.department}"></td>
	  <td>
		<a th:href="@{/employees/edit/{empId}(
			empId=${emp.empId},
			empName=${empName},
			department=${department},
			page=${currentPage},
			sort=${sort}
		)}">編集</a>
		
		<form th:action="@{/employees/delete/{empId}(empId=${emp.empId})}"
		      method="post"
			  style="display: inline;">
			  
			  <input type="hidden" name="searchEmpName" th:value="${empName}">
			  <input type="hidden" name="searchDepartment" th:value="${department}">
			  <input type="hidden" name="currentPage" th:value="${currentPage}">
			  <input type="hidden" name="sort" th:value="${sort}">
			  
			<button
			    type="submit"
				onclick="return confirm('本当に削除しますか？');">
				削除
			</button>
		</form>
	  </td>
    </tr>
  </table>
  
  <div th:if="${totalPages > 1}" style="margin-top: 20px;">
    
    <a th:if="${currentPage > 1}"
       th:href="@{/employees(
         empName=${empName},
         department=${deaprtment},
         page=${currentPage - 1},
         sort=${sort}
        )}">
      前へ
    </a>
    
    <span th:text="${currentPage}"></span>
    /
    <span th:text="${totalPages}"></span>
    
    <a th:if="${currentPage < totalPages}"
       th:href="@{/employees(
         empName=${empName},
         department=${department},
         page=${currentPage + 1},
         sort=${sort}
       )}">
      次へ
    </a>
    
  </div>
  
</body>
</html>