<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>社員更新</title>
</head>
<body>
  <h1>社員更新</h1>
  
  <form th:action="@{/employees/update}" th:object="${employee}" method="post">
	
	<input type="hidden" name="searchEmpName" th:value="${empName}">
	<input type="hidden" name="searchDepartment" th:value="${department}">
	<input type="hidden" name="page" th:value="${page}">
	<input type="hidden" name="sort" th:value="${sort}">
	
    社員ID<br>
    <input type="text" th:field="*{empId}" readonly><br><br>
    
    社員名<br>
    <input type="text" th:field="*{empName}">
    <div
      th:if="${#fields.hasErrors('empName')}"
      th:errors="*{empName}"
      style="color:red">
    </div><br>
    
    部署<br>
    <input type="text" th:field="*{department}">
    <div
      th:if="${#fields.hasErrors('department')}"
      th:errors="*{department}"
      style="color:red">
    </div><br>
    
    <button type="submit">更新</button>
  </form>
  
  <br>
  <a th:href="@{/employees(empName=${empName}, department=${department}, page=${page}, sort=${sort})}">
	  一覧へ戻る
  </a>
  
</body>
</html>