<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>社員一覧</title>
</head>
<body>
  <h1>社員一覧</h1>
  
  <form th:action="@{/employees}" method="get">
	
	社員名:
	<input type="text" name="empName" th:value="${empName}">
	
	部署:
	<input type="text" name="department" th:value="${department}">
	
	<button type="submit">検索</button>
	<a th:href="@{/employees}">クリア</a>
  </form>
  
  <br>
  
  <a th:href="@{/employees/new}">新規登録</a>
  <br><br>
  
  <table border="1">
    <tr>
      <th>ID</th>
      <th>社員名</th>
      <th>部署</th>
	  <th>操作</th>
    </tr>
    <tr th:each="emp : ${employees}">
      <td th:text="${emp.empId}"></td>
      <td th:text="${emp.empName}"></td>
      <td th:text="${emp.department}"></td>
	  <td>
		<a th:href="@{/employees/edit/{empId}(empId=${emp.empId})}">編集</a>
		
		<form th:action="@{/employees/delete/{empId}(empId=${emp.empId})}"
		      method="post"
			  style="display: inline;">
			<button type="submit">削除</button>
		</form>
	  </td>
    </tr>
  </table>
</body>
</html>